<!-- TODO: Hacer que el sidebar esté abierto por default, y cambiar los iconos de cada uno (burger icon and close icon) -->


<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>


  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

  <span class="spacer"></span>

    <span></span>

    <button mat-button>
      Logout
    </button>

  </mat-toolbar>


  <div class="container p-2">

    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>



